*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
#header{
    opacity: .9;
    background-color: black;
    width: 100%;
    z-index: 500;
    position: fixed;
    .remove-bar{
        display: none;
    }
    img{
        cursor: pointer;
        width: 100%;
    }
    ul{
        display: flex;
        li{
            color: white;
            list-style: none;
            padding: 10px;
            a{
                text-decoration: none;
                color:white;
                &:hover{
                    color:red;
                    transition: 0.4s;
                }
            }
        }
    }
    .ic{
        i{
           color: white;
            cursor: pointer;
            &:hover{
                color: red;
                transition: 0.3s;
            }
       }
    }

}
.middle-center {
    padding: 20rem 0;
    position: relative;
    z-index: 15;

}
#top{
    position: relative;
    background-image: url(../image/mercedes-2.jpg);
    background-size: cover;
    &::after {
        content: '';
        position: absolute;
        top: 0%;
        bottom: 0%;
        right: 0%;
        left: 0%;
        background-color: black;
        opacity: .3;

    }
    h1{
        color: rgb(253, 63, 63);
        font-size: 5rem;
        font-weight: 700;
    }
    h2{
        color: white;
        font-weight: 700;
        font-size: 5rem;
    }
}
#official{
    padding-bottom: 55px;
    position: relative;
    background-image: url(../image/269.jpg);
    background-size: cover;
    &::after {
        content: '';
        position: absolute;
        top: 0%;
        bottom: 0%;
        right: 0%;
        left: 0%;
        background-color: black;
        opacity: .8;
    }
    .air{
        position: relative;
        z-index: 5;
        .im{
            text-align: center;
            img{
                width: 20%;
                transition: 0.2s;
                &:hover{
                    transform: scale(1.1);
                 }
        }
      }
        h3{
            color: #fff;
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            padding-top: 35px;
        }
        p{
            color: rgb(151, 150, 150);
            text-align: center;
            font-weight: 400;
            padding-top: 15px;
        }
        .bt{
            text-align: center;
            button{
                padding: 15px;
                width:35%;
                border-radius: 5px;
                border: none;
                background-color: rgb(212, 62, 62);
                color: #fff;
                &:hover{
                    color: red;
                    box-shadow: 0 0 20px 8px rgb(122, 2, 2);
                    transition: 0.3s;
                }
            }
        }
    }
}
#carsbody{
    padding-bottom: 75px;
    background-color: black;
    .cars{
        text-align: center;
        h2{
            color: #fff;
            font-weight: 700;
            img{
                width: 4%;
            }
        }
        p{
            color:rgb(151, 150, 150) ;
        }
    }
    .car{
        border: 1px solid white;
        cursor: pointer;
        .dt{
            padding: 20px;
            display: flex;
            justify-content: space-between;
            span{
                color: rgb(255, 20, 20);
                font-weight: 700;
            }
            p{
                color: #fff;
                font-weight: 600;
            }
        }
        img{
            filter: grayscale(100%);
            &:hover{
                filter: grayscale(0%);
                transition: 0.3s;
            }
        }
    }
}
#autocar{
    padding-bottom: 70px;
    position: relative;
    background-image: url(../image/269.jpg);
    background-size: cover;
    &::after {
        content: '';
        position: absolute;
        top: 0%;
        bottom: 0%;
        right: 0%;
        left: 0%;
        background-color: black;
        opacity: .8;
    }
    .long{
        position: relative;
        z-index: 5;
        h2{
            color: rgb(151, 150, 150);
            font-size: 20px;
        }
        p{
            color: #fff;
            font-size: 30px;
            font-weight: 600;
        }
    }
    .dealer{
        position: relative;
        z-index: 5;
        img{
            width: 20%;
        }
        h2{
            color: #fff;
            font-size: 20px;
            font-weight: 750;
            padding: 15px;
        }
    }
    p{
        color: rgb(190, 180, 180);
        position: relative;
        z-index: 5;
        padding-top: 10px;
    }
}
#subscribe{
    padding-bottom: 30px;
    background-color: black;
    .offer{
        h1{
            color: white;
            font-size: 30px;
            font-weight: 700;
        }
        p{
            color: rgb(151, 150, 150);

        }
    }
    .inp{
        input{
            background: none;
            // border: none;
            border-radius: 10px;
            width: 60%;
            padding: 15px;
        }
        button{
            background-color: rgb(221, 47, 47);
            padding: 15px;
            width: 20%;
            border: none;
            color: #fff;
            border-radius: 10px;
            &:hover{
                box-shadow: 0 0 20px 8px rgb(122, 2, 2);
                transition: 0.3s;
            }
        }
    }
}
#salecars{
    padding-bottom: 30px;
    position: relative;
    background-image: url(../image/269.jpg);
    background-size: cover;
    &::after {
        content: '';
        position: absolute;
        top: 0%;
        bottom: 0%;
        right: 0%;
        left: 0%;
        background-color: black;
        opacity: .8;
    }
    .sale{
        text-align: center;
        position: relative;
        z-index: 5;
        h2{
            color: #fff;
            font-weight: 700;
            img{
                width: 4%;
            }
        }
        p{
            color: rgb(151, 150, 150);
            text-align: center;
        }
    }

}
#slid{
    padding-bottom: 100px;
    position: relative;
    background-image: url(../image/269.jpg);
    background-size: cover;
    &::after {
        content: '';
        position: absolute;
        top: 0%;
        bottom: 0%;
        right: 0%;
        left: 0%;
        background-color: black;
        opacity: .8;
    }
    .cart{
        position: relative;
        z-index: 5;
    }
    .ph{
        position: relative;
        z-index: 5;
        padding: 0 15px;
    }
    
    .booked{
        position: relative;
        z-index: 5;
       .filt{
        color: rgb(151, 150, 150);
        display: flex;
        justify-content: space-between;
        border: 1px solid rgb(0, 0, 0);
        background-color: rgb(0, 0, 0);
        padding: 15px;
        width: 97%;
    }
    a{
        color: #fff;
        font-weight: 700;
        text-decoration: underline;
        padding: 70px;
        &:hover{
          color: red;
          transition: 0.3s;
          text-decoration: none;
        }
    }
 }
}
#news{
    background-color: black;
    .new{
        h2{
            color: #fff;
            font-weight: 700;
            img{
              width: 15%;
            }
        }
        button{
            padding: 15px;
            background-color: rgb(255, 20, 20);
            border: none;
            color: #fff;
            font-weight: 700;
            border-radius: 5px;
            &:hover{
                box-shadow: 0 0 20px 8px rgb(122, 2, 2);
                transition: 0.3s;
            }
        }
    }
}
#status{
    background-color: black;
    padding-bottom: 50px;
    .stat{
        .totam{
            cursor: pointer;
            position: relative;
            &:hover{
                p{
                    transform: translateY(-50px);
                        transition: 0.3s;
                }
                .sp{
                    display: block;
                }
            }
            .dsn{
                position: relative;
                p{
                    color: #fff;
                    font-weight: 700;
                    position: absolute;
                    bottom: 40px;
                    left: 50px;
                    font-size: 20px;
                    &:hover{
                        color: red;
                    }
                }
            }
            .sp{
                position: absolute;
                bottom: 20px;
                left: 30px;
                padding: 10px;
                display: none;
                span{
                    color: red;
                    padding: 20px;
                    width: 100%;
                    font-weight: 700;
                    &:hover{
                        color: #fff;
                    }
                }
            }
        }
    }
}
#testimonials{
    background-image: url(../image/269.jpg);
    background-size: cover;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0%;
        bottom: 0%;
        right: 0%;
        left: 0%;
        background-color: black;
        opacity: .8;
    }
    .test{
        text-align: center;
        position: relative;
        z-index: 5;
        h2{
            color: #fff;
            font-weight: 700;
            img{
                width: 3%;
            }
        }
        p{
            color: rgb(155, 153, 153);
        }
    }
    .john{
        position: relative;
        .mask{
        position: relative;
        z-index: 5;
        padding: 30px;
        background-color: #181717;
        h1{
            color: #fff;
            font-size: 20px;
            font-weight: 700;
        }
        p{
            color: #9c9c9c;
            justify-content: end;
        }
    }
    .app{
        position: relative;
        transform: translate(70px, -100px);
        z-index: 5;
        width: 25%;
        padding: 5px;
        background-color: rgb(109, 106, 106);
        h1{
            color: #fff;
            font-weight: 700;
            font-size: 15px;
            padding-top: 120px;
        }
    }
    .apps{
        position: relative;
        transform: translate(70px, -100px);
        z-index: 5;
        width: 25%;
        padding: 5px;
        background-color: rgb(252, 74, 74);
        h1{
            color: #fff;
            font-weight: 700;
            font-size: 15px;
            padding-top: 120px;
        }
    }
    .dev{
        position: relative;
        z-index: 5;
        transform: translateY(-340px);
        img{
            width: 25%;
        }
    }
    }
}
#off{
    background-color: black;
    .offer{
        text-align: center;
        h2{
            color: white;
            font-weight: 700;
            img{
                width: 4%;
            }
        }
        p{
            color: rgb(138, 133, 133);
        }
    }
}
#speciall{
    background-color: black;
    padding-bottom: 50px;
    .all{
        .offersbl{
            background-color: rgb(17, 17, 17);
            .free{
                padding:30px;
                h1{
                    color: white;
                    font-weight: 700;
                    padding: 10px;
                    font-size: 25px;
                }
                span{
                    color: rgb(255, 20, 20);
                    font-weight: 650;
                    padding: 10px;
                }
                p{
                    color: rgb(212, 206, 206);
                    padding: 10px;
                }
            }
        }
        .offersrd{
            background-color: rgb(246, 46, 46);
            .free{
                padding:30px;
                h1{
                    color: white;
                    font-weight: 700;
                    padding: 10px;
                    font-size: 25px;
                }
                span{
                    color: rgb(255, 255, 255);
                    font-weight: 650;
                    padding: 10px;
                }
                p{
                    color: rgb(212, 206, 206);
                    padding: 10px;
                }
            }
        }
    }
}
#store{
    position: relative;
    background-image: url(../image/269.jpg);
    background-size: cover;
    &::after {
        content: '';
        position: absolute;
        top: 0%;
        bottom: 0%;
        right: 0%;
        left: 0%;
        background-color: black;
        opacity: .8;
    }
    .crs{
        position: relative;
        z-index: 5;
        h2{
            color: white;
            font-weight: 700;
            img{
                width: 10%;
            }
        }
        .hr{
            list-style: none;
            li{
                padding: 10px;
                .br{
                    color: red;
                    text-decoration: none;
                }
                a{
                    color: white;
                    font-weight: 650;
                    text-decoration: underline;
                    &:hover{
                        color: red;
                        transition: 0.3s;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .stor{
        padding-bottom: 50px;
        position: relative;
        z-index: 5;
        &:hover{
            .ss{
                span{
                    display: none;
               }
            }
            .rot{
                a{
                    display: block;
                    transform: translateX(150px);
                }
            }
        }
        .pads{
            text-align: center;
            padding-top: 10px;
            a{
                color: white;
                font-weight: 700;
                text-decoration: underline;
                &:hover{
                    text-decoration: none;
                    color: red;
                    transition: 0.3s;
                }
            }
        }
        .rot{
            padding-top: 5px;
            a{
                color: red;
                font-weight: 700;
                text-decoration: underline;
                display: none;
                &:hover{
                    text-decoration: none;
                    transition: 0.3s;
                }
            }
            .ss{
                text-align: center;
                span{
                    color: rgb(151, 150, 150);
                    font-weight: 650;
                }
            }
           
        }
    }
}
#company{
    background-color: rgb(245, 62, 62);
    padding-bottom: 50px;
    .award{
        display: flex;
            img{
                width:25%;
            }
        .work{
            padding: 40px;
            span{
                color: #fff;
                font-weight: 650;
                font-size: 35px;
            }
            p{
                color: rgb(190, 183, 183);
                font-weight: 600;
            }
        }
    }
}
#footer{ 
    background-color:#111111;
    h2{
        padding:120px 0px 0px 20px;
        color: white;
        font-size: 30px;
      img{
        width:15%;
        padding-left: 18px;
        }  
    }
    .about{
        padding-top:55px;
        padding-left: 18px;
        p{
            padding-top: 10px;
            color: #bbbbbb;
            a{
                color:white;
                text-decoration: none;
                &:hover{
                    color: red;
                    transition: 0.3s;
                }
            }
        }
    }
    .icon{
        padding-top: 20px;
        padding-left: 18px;
        i{
          font-size: 18px;
          padding: 15px;
          border-radius: 50px;
          border:1px solid;
          color: #fff;
          background-color: #302f2f;
          border-style: none;
          &:hover{
              background-color: #ff3837;
              transition: 0.3s;
          }
        }        
    }
    .latest{
        padding-top:55px;
        padding-left: 18px;
        h4{
            color: white;
            padding-bottom: 25px;
           img{
            width:15%;
            padding-left: 18px;
            } 
        }  
        span{
            color: white;
            cursor: pointer;
            font-size: 15px;
            &:hover{
                color: red;
                transition: 0.3s;
            }
        }
        p{
            cursor: pointer;
            font-size: 15px;
            padding-top: 10px;
            padding-bottom: 25px;
            a{
                color: #bbbbbb;
                &:hover{
                color: red;
                transition: 0.3s;
            }
            }
        }
    }
    .quest{
        padding-top:55px;
        padding-left: 18px;
        input{
            background: none;
            border: none;
            height: 35px;
            width: 70%;
            border-bottom: 1px solid #3e3e3e;
            color: #979797;
        }
        .i1{
            height: 60px;
        }
        .i2{
            height: 60px;
        }
        .i3{
            resize: none;
            padding: 5px 0;
        }
        button{
            color: #fff;
            border-radius: 5px;
            margin-top: 50px;
            padding-bottom: 0.5em;
            padding: 0.5em 2.5em;
            background-color: #ff3837;
            border-style: none;
            &:hover{
                background-color:red;
                transition: 0.3s;
                box-shadow: 0 0 20px 8px rgb(122, 2, 2);
            }
        }
    }
}
#end{
    width: 100%;
    background-color: black;
    p{
        color: #fff;
        padding-top: 30px;
    }
    ul{
        display: flex;
        padding-top: 15px;
        li{
            list-style: none;
            padding: 10px;
            color: #fff;
            cursor: pointer;
            
            &:hover{
                color: red;
                transition: 0.3s;
            }
        }
    }
}
@media (max-width:768px){
#header{
    opacity: 1;
    padding: 25px 0;
    .remove-bar{
        display: inherit;
    }
    .menu{
        &.menuActive{
            width:0;
            visibility: hidden;
            opacity: 0;
        }
        position: fixed;
        transition: .3s;
        z-index: 99999;
        left: 0;
        height: 100vh;
        top:13%;
        background: #fff;
        width: 80%;
        ul{
            flex-direction: column;
            li{
                border-bottom: 1px solid #777676;
                a{
                    color:#181717
                }

            }  
        }
        }
    }
}