* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

#header {
  opacity: .9;
  background-color: black;
  width: 100%;
  z-index: 500;
  position: fixed;
}

#header .remove-bar {
  display: none;
}

#header img {
  cursor: pointer;
  width: 100%;
}

#header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header ul li {
  color: white;
  list-style: none;
  padding: 10px;
}

#header ul li a {
  text-decoration: none;
  color: white;
}

#header ul li a:hover {
  color: red;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#header .ic i {
  color: white;
  cursor: pointer;
}

#header .ic i:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.middle-center {
  padding: 20rem 0;
  position: relative;
  z-index: 15;
}

#top {
  position: relative;
  background-image: url(../image/mercedes-2.jpg);
  background-size: cover;
}

#top::after {
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  background-color: black;
  opacity: .3;
}

#top h1 {
  color: #fd3f3f;
  font-size: 5rem;
  font-weight: 700;
}

#top h2 {
  color: white;
  font-weight: 700;
  font-size: 5rem;
}

#official {
  padding-bottom: 55px;
  position: relative;
  background-image: url(../image/269.jpg);
  background-size: cover;
}

#official::after {
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  background-color: black;
  opacity: .8;
}

#official .air {
  position: relative;
  z-index: 5;
}

#official .air .im {
  text-align: center;
}

#official .air .im img {
  width: 20%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#official .air .im img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#official .air h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-top: 35px;
}

#official .air p {
  color: #979696;
  text-align: center;
  font-weight: 400;
  padding-top: 15px;
}

#official .air .bt {
  text-align: center;
}

#official .air .bt button {
  padding: 15px;
  width: 35%;
  border-radius: 5px;
  border: none;
  background-color: #d43e3e;
  color: #fff;
}

#official .air .bt button:hover {
  color: red;
  -webkit-box-shadow: 0 0 20px 8px #7a0202;
          box-shadow: 0 0 20px 8px #7a0202;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#carsbody {
  padding-bottom: 75px;
  background-color: black;
}

#carsbody .cars {
  text-align: center;
}

#carsbody .cars h2 {
  color: #fff;
  font-weight: 700;
}

#carsbody .cars h2 img {
  width: 4%;
}

#carsbody .cars p {
  color: #979696;
}

#carsbody .car {
  border: 1px solid white;
  cursor: pointer;
}

#carsbody .car .dt {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#carsbody .car .dt span {
  color: #ff1414;
  font-weight: 700;
}

#carsbody .car .dt p {
  color: #fff;
  font-weight: 600;
}

#carsbody .car img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

#carsbody .car img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#autocar {
  padding-bottom: 70px;
  position: relative;
  background-image: url(../image/269.jpg);
  background-size: cover;
}

#autocar::after {
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  background-color: black;
  opacity: .8;
}

#autocar .long {
  position: relative;
  z-index: 5;
}

#autocar .long h2 {
  color: #979696;
  font-size: 20px;
}

#autocar .long p {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

#autocar .dealer {
  position: relative;
  z-index: 5;
}

#autocar .dealer img {
  width: 20%;
}

#autocar .dealer h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 750;
  padding: 15px;
}

#autocar p {
  color: #beb4b4;
  position: relative;
  z-index: 5;
  padding-top: 10px;
}

#subscribe {
  padding-bottom: 30px;
  background-color: black;
}

#subscribe .offer h1 {
  color: white;
  font-size: 30px;
  font-weight: 700;
}

#subscribe .offer p {
  color: #979696;
}

#subscribe .inp input {
  background: none;
  border-radius: 10px;
  width: 60%;
  padding: 15px;
}

#subscribe .inp button {
  background-color: #dd2f2f;
  padding: 15px;
  width: 20%;
  border: none;
  color: #fff;
  border-radius: 10px;
}

#subscribe .inp button:hover {
  -webkit-box-shadow: 0 0 20px 8px #7a0202;
          box-shadow: 0 0 20px 8px #7a0202;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#salecars {
  padding-bottom: 30px;
  position: relative;
  background-image: url(../image/269.jpg);
  background-size: cover;
}

#salecars::after {
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  background-color: black;
  opacity: .8;
}

#salecars .sale {
  text-align: center;
  position: relative;
  z-index: 5;
}

#salecars .sale h2 {
  color: #fff;
  font-weight: 700;
}

#salecars .sale h2 img {
  width: 4%;
}

#salecars .sale p {
  color: #979696;
  text-align: center;
}

#slid {
  padding-bottom: 100px;
  position: relative;
  background-image: url(../image/269.jpg);
  background-size: cover;
}

#slid::after {
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  background-color: black;
  opacity: .8;
}

#slid .cart {
  position: relative;
  z-index: 5;
}

#slid .ph {
  position: relative;
  z-index: 5;
  padding: 0 15px;
}

#slid .booked {
  position: relative;
  z-index: 5;
}

#slid .booked .filt {
  color: #979696;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid black;
  background-color: black;
  padding: 15px;
  width: 97%;
}

#slid .booked a {
  color: #fff;
  font-weight: 700;
  text-decoration: underline;
  padding: 70px;
}

#slid .booked a:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

#news {
  background-color: black;
}

#news .new h2 {
  color: #fff;
  font-weight: 700;
}

#news .new h2 img {
  width: 15%;
}

#news .new button {
  padding: 15px;
  background-color: #ff1414;
  border: none;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
}

#news .new button:hover {
  -webkit-box-shadow: 0 0 20px 8px #7a0202;
          box-shadow: 0 0 20px 8px #7a0202;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#status {
  background-color: black;
  padding-bottom: 50px;
}

#status .stat .totam {
  cursor: pointer;
  position: relative;
}

#status .stat .totam:hover p {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#status .stat .totam:hover .sp {
  display: block;
}

#status .stat .totam .dsn {
  position: relative;
}

#status .stat .totam .dsn p {
  color: #fff;
  font-weight: 700;
  position: absolute;
  bottom: 40px;
  left: 50px;
  font-size: 20px;
}

#status .stat .totam .dsn p:hover {
  color: red;
}

#status .stat .totam .sp {
  position: absolute;
  bottom: 20px;
  left: 30px;
  padding: 10px;
  display: none;
}

#status .stat .totam .sp span {
  color: red;
  padding: 20px;
  width: 100%;
  font-weight: 700;
}

#status .stat .totam .sp span:hover {
  color: #fff;
}

#testimonials {
  background-image: url(../image/269.jpg);
  background-size: cover;
  position: relative;
}

#testimonials::after {
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  background-color: black;
  opacity: .8;
}

#testimonials .test {
  text-align: center;
  position: relative;
  z-index: 5;
}

#testimonials .test h2 {
  color: #fff;
  font-weight: 700;
}

#testimonials .test h2 img {
  width: 3%;
}

#testimonials .test p {
  color: #9b9999;
}

#testimonials .john {
  position: relative;
}

#testimonials .john .mask {
  position: relative;
  z-index: 5;
  padding: 30px;
  background-color: #181717;
}

#testimonials .john .mask h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

#testimonials .john .mask p {
  color: #9c9c9c;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#testimonials .john .app {
  position: relative;
  -webkit-transform: translate(70px, -100px);
          transform: translate(70px, -100px);
  z-index: 5;
  width: 25%;
  padding: 5px;
  background-color: #6d6a6a;
}

#testimonials .john .app h1 {
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  padding-top: 120px;
}

#testimonials .john .apps {
  position: relative;
  -webkit-transform: translate(70px, -100px);
          transform: translate(70px, -100px);
  z-index: 5;
  width: 25%;
  padding: 5px;
  background-color: #fc4a4a;
}

#testimonials .john .apps h1 {
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  padding-top: 120px;
}

#testimonials .john .dev {
  position: relative;
  z-index: 5;
  -webkit-transform: translateY(-340px);
          transform: translateY(-340px);
}

#testimonials .john .dev img {
  width: 25%;
}

#off {
  background-color: black;
}

#off .offer {
  text-align: center;
}

#off .offer h2 {
  color: white;
  font-weight: 700;
}

#off .offer h2 img {
  width: 4%;
}

#off .offer p {
  color: #8a8585;
}

#speciall {
  background-color: black;
  padding-bottom: 50px;
}

#speciall .all .offersbl {
  background-color: #111111;
}

#speciall .all .offersbl .free {
  padding: 30px;
}

#speciall .all .offersbl .free h1 {
  color: white;
  font-weight: 700;
  padding: 10px;
  font-size: 25px;
}

#speciall .all .offersbl .free span {
  color: #ff1414;
  font-weight: 650;
  padding: 10px;
}

#speciall .all .offersbl .free p {
  color: #d4cece;
  padding: 10px;
}

#speciall .all .offersrd {
  background-color: #f62e2e;
}

#speciall .all .offersrd .free {
  padding: 30px;
}

#speciall .all .offersrd .free h1 {
  color: white;
  font-weight: 700;
  padding: 10px;
  font-size: 25px;
}

#speciall .all .offersrd .free span {
  color: white;
  font-weight: 650;
  padding: 10px;
}

#speciall .all .offersrd .free p {
  color: #d4cece;
  padding: 10px;
}

#store {
  position: relative;
  background-image: url(../image/269.jpg);
  background-size: cover;
}

#store::after {
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  background-color: black;
  opacity: .8;
}

#store .crs {
  position: relative;
  z-index: 5;
}

#store .crs h2 {
  color: white;
  font-weight: 700;
}

#store .crs h2 img {
  width: 10%;
}

#store .crs .hr {
  list-style: none;
}

#store .crs .hr li {
  padding: 10px;
}

#store .crs .hr li .br {
  color: red;
  text-decoration: none;
}

#store .crs .hr li a {
  color: white;
  font-weight: 650;
  text-decoration: underline;
}

#store .crs .hr li a:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

#store .stor {
  padding-bottom: 50px;
  position: relative;
  z-index: 5;
}

#store .stor:hover .ss span {
  display: none;
}

#store .stor:hover .rot a {
  display: block;
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
}

#store .stor .pads {
  text-align: center;
  padding-top: 10px;
}

#store .stor .pads a {
  color: white;
  font-weight: 700;
  text-decoration: underline;
}

#store .stor .pads a:hover {
  text-decoration: none;
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#store .stor .rot {
  padding-top: 5px;
}

#store .stor .rot a {
  color: red;
  font-weight: 700;
  text-decoration: underline;
  display: none;
}

#store .stor .rot a:hover {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#store .stor .rot .ss {
  text-align: center;
}

#store .stor .rot .ss span {
  color: #979696;
  font-weight: 650;
}

#company {
  background-color: #f53e3e;
  padding-bottom: 50px;
}

#company .award {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#company .award img {
  width: 25%;
}

#company .award .work {
  padding: 40px;
}

#company .award .work span {
  color: #fff;
  font-weight: 650;
  font-size: 35px;
}

#company .award .work p {
  color: #beb7b7;
  font-weight: 600;
}

#footer {
  background-color: #111111;
}

#footer h2 {
  padding: 120px 0px 0px 20px;
  color: white;
  font-size: 30px;
}

#footer h2 img {
  width: 15%;
  padding-left: 18px;
}

#footer .about {
  padding-top: 55px;
  padding-left: 18px;
}

#footer .about p {
  padding-top: 10px;
  color: #bbbbbb;
}

#footer .about p a {
  color: white;
  text-decoration: none;
}

#footer .about p a:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer .icon {
  padding-top: 20px;
  padding-left: 18px;
}

#footer .icon i {
  font-size: 18px;
  padding: 15px;
  border-radius: 50px;
  border: 1px solid;
  color: #fff;
  background-color: #302f2f;
  border-style: none;
}

#footer .icon i:hover {
  background-color: #ff3837;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer .latest {
  padding-top: 55px;
  padding-left: 18px;
}

#footer .latest h4 {
  color: white;
  padding-bottom: 25px;
}

#footer .latest h4 img {
  width: 15%;
  padding-left: 18px;
}

#footer .latest span {
  color: white;
  cursor: pointer;
  font-size: 15px;
}

#footer .latest span:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer .latest p {
  cursor: pointer;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 25px;
}

#footer .latest p a {
  color: #bbbbbb;
}

#footer .latest p a:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer .quest {
  padding-top: 55px;
  padding-left: 18px;
}

#footer .quest input {
  background: none;
  border: none;
  height: 35px;
  width: 70%;
  border-bottom: 1px solid #3e3e3e;
  color: #979797;
}

#footer .quest .i1 {
  height: 60px;
}

#footer .quest .i2 {
  height: 60px;
}

#footer .quest .i3 {
  resize: none;
  padding: 5px 0;
}

#footer .quest button {
  color: #fff;
  border-radius: 5px;
  margin-top: 50px;
  padding-bottom: 0.5em;
  padding: 0.5em 2.5em;
  background-color: #ff3837;
  border-style: none;
}

#footer .quest button:hover {
  background-color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 0 20px 8px #7a0202;
          box-shadow: 0 0 20px 8px #7a0202;
}

#end {
  width: 100%;
  background-color: black;
}

#end p {
  color: #fff;
  padding-top: 30px;
}

#end ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
}

#end ul li {
  list-style: none;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

#end ul li:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 768px) {
  #header {
    opacity: 1;
    padding: 25px 0;
  }
  #header .remove-bar {
    display: inherit;
  }
  #header .menu {
    position: fixed;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 99999;
    left: 0;
    height: 100vh;
    top: 13%;
    background: #fff;
    width: 80%;
  }
  #header .menu.menuActive {
    width: 0;
    visibility: hidden;
    opacity: 0;
  }
  #header .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #header .menu ul li {
    border-bottom: 1px solid #777676;
  }
  #header .menu ul li a {
    color: #181717;
  }
}
/*# sourceMappingURL=style.css.map */